a {
  text-decoration: none;
}
a:hover {
  color: rgb(27, 49, 78);
  text-decoration: underline;
}
body {
  font-size: 1.1rem;
  line-height: 2rem;
  font-family: arial, sans-serif;
}
button {
  background-color: white;
  border-color: LightBlue;
  border-width: thin;
}

ul {
  list-style-type: none;
}
