html {
  margin: 0;
  padding: 0;
  width: 100%;
}
body {
  overflow-x: hidden;
  font-size: 1rem;
  font-family: "calibri", tahoma, verdana sans-serif;
}
main {
  margin: auto;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.cell {
  border: 1px solid #886355;
  padding: 1rem;
}
header {
  /*z-index: 1;
    position: absolute;*/
  text-align: end;
  padding: 1rem;
}

ion-icon {
  transform: scale(2);
}

.responsive-checker {
  font-style: italic;
  text-align: center;
  margin: 0;
}
#desktop {
  color: rgb(81, 112, 81);
}
#tablet {
  display: none;
}
#mobile {
  display: none;
}

@media (max-width: 450px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
  #desktop {
    display: none;
  }
  #mobile {
    display: unset;
    color: rgb(182, 106, 189);
  }
}

@media (min-width: 460px) and (max-width: 800px) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
  }
  #tablet {
    display: unset;
    color: rgb(31, 101, 233);
  }
  #desktop {
    display: none;
  }
}
